/* ========== GOOGLE FONT ========== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{

--bg:#0f172a;
--card:#172033;
--card-hover:#1d2942;

--primary:#4f8cff;

--text:#ffffff;

--sub:#94a3b8;

--border:#243044;

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}

body{

background:var(--bg);
color:var(--text);

}

/* ================= HEADER ================= */

header{

height:75px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 7%;

border-bottom:1px solid var(--border);

position:sticky;

top:0;

background:rgba(15,23,42,.95);

backdrop-filter:blur(15px);

z-index:999;

}

/* LOGO */

.logo{

text-decoration:none;

color:white;

font-size:25px;

font-weight:700;

display:flex;

align-items:center;

gap:12px;

}

.logo:hover{

color:var(--primary);

}

/* SEARCH */

.search{

width:330px;

}

.search input{

width:100%;

padding:13px 18px;

border-radius:14px;

background:#162133;

border:1px solid var(--border);

outline:none;

color:white;

font-size:15px;

}

.search input::placeholder{

color:#8190a5;

}

/* ================= MAIN ================= */

main{

width:min(1200px,92%);

margin:auto;

padding:45px 0;

}

/* ================= MOBILE ================= */

@media(max-width:768px){

header{

padding:18px;

flex-direction:column;

height:auto;

gap:15px;

}

.search{

width:100%;

}

.logo{

font-size:22px;

}

}
